* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.oculto {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.oculto {
    display: none;
}

@font-face {
    font-family: "mont";
    src: url(./fontes/SwilyBright-Italic.otf);
}

@font-face {
    font-family: "mont2";
    src: url(./fontes/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "mont3";
    src: url(./fontes/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: "mont4";
    src: url(./fontes/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: "mont5";
    src: url(./fontes/CreatoDisplay-Medium.otf);
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background-image: url(img/fundo.png);
    background-size: cover;
}

header {
    background-color: #1A0436;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
    margin-bottom: 50px;
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

.ParteDecima {
    background-color: #1A0436;
    height: 90px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
}

.bolha {
    width: 90px;
    height: 75px;
}

.logoNome,
.logo {
    font-family: "mont";
    color: white;
    width: 190px;
    height: 45px;
    text-align: center;
    display: flex;
    font-size: 35px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

#barraPesquisa {
    width: 700px;
    height: 53.79px;
    background-image: url(img/imgHeaderEFooter/barradepesquisa.png);
    margin: 90px;
    border-radius: 18px;
    padding-right: 20px;
    margin-left: 150px;
    background-size: cover;
}

#barraPesquisa::-webkit-input-placeholder {
    color: #ffffff98;
    font-size: 15px;
}

input {
    color: white;
    font-family: "mont2";
    font-size: 15px;
    padding-left: 20px;
}

.barraDePesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.perfil a {
    width: 51px;
    height: 52px;
    border-radius: 18px;
    background-image: url(img/imgHeaderEFooter/perfill.png);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: 70px;
    background-size: cover;
    color: rgba(255, 255, 255, 0);
}

.notificacao {
    width: 51px;
    height: 52px;
    border-radius: 18px;
    background: linear-gradient(90deg, #B41D6C, #2A114B);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: -10px;
}

nav {
    background-color: #1A0436;
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
}

nav li {
    display: inline-block;
}

nav li .pag {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 605;
    font-family: "mont2";
    letter-spacing: 2px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 42px;
}

.inicio {
    padding-left: 100px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 605;
    font-family: "mont2";
    letter-spacing: 2px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 42px;
    padding-right: 100px;
}

.categorias {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 605;
    font-family: "mont2";
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 42px;
}

.dropdown-menu a {
    display: block;
}

.dropdown-menu {
    position: absolute;
    background-color: #1A0436;
    margin-left: -5px;
    margin-top: 40px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.362);
    display: none;
}

.opcao:hover {
    background-color: #B41D6C;
}

.opcao {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 605;
    font-family: "mont2";
    letter-spacing: 2px;
    padding: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.botoes {
    position: fixed;
    top: 80%;
    left: 90%;
    z-index: 3;
}

button {
    cursor: pointer;
}

.filtrar button {
    color: #1a043600;
    background-color: rgba(0, 0, 0, 0.236);
    border: 3px solid #FCE6D9;
    font-size: 28px;
    border-radius: 60px;
    -webkit-text-stroke: #FCE6D9 1px;
    width: fit-content;
    height: fit-content;
}

.filtrar {
    display: flex;
    flex-direction: column;
    width: 234px;
    height: auto;
}

.filtro {
    background-color: #FCE6D9;
    font-size: 17px;
    color: black;
    border-radius: 60px;
    width: 137px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #2A114B;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 150px;

}

.logo1 {
    font-family: "mont";
    color: white;
    width: 190px;
    height: 45px;
    text-align: center;
    display: flex;
    font-size: 25px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 10px;
}

.bolha1 {
    width: 70px;
    height: 60px;
    padding-bottom: 20px;
}

.cimaRodape {
    display: flex;
    flex-direction: row;
    padding-left: 90px;
}

.baixoRodape {
    color: #844D93;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 605;
    font-family: "mont4";
    letter-spacing: 2px;
    transition: none;
}

.baixoRodape:hover {
    font-size: 23px;
    transition: ease-in-out;
}

.redes {
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.fim {
    height: 10px;
    width: 100%;
    background-color: #1A0436;
    padding-bottom: 15px;
}

.textosRodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textoRodape {
    font-size: 10px;
    padding-top: 5px;
    width: 250px;
    margin-right: -105px;
    color: white;
}

.textoRodape1 {
    font-size: 10px;
    padding-top: 5px;
    width: 250px;
    margin-left: 40px;
    color: white;
}

.itens {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -80px;
}

main {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

#menina {
    display: flex;
    width: 80%;
    height: 800px;
    justify-content: flex-start;
    align-items: end;
    padding-bottom: 7%;
    padding-left: 5%;
    border-radius: 20px;
    background-image: url(img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

#paisagismo {
    display: flex;
    width: 80%;
    height: auto;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.gigi {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#divisao1 .gigi img {
    width: 710px;
    height: 485px;
}


#divisao2 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

#barco img {
    height: 980px;

}

#divisao3 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

}

#divisao3 img {
    width: 428px;
}

#urbana {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#urb1 {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#urb2 {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#urb3 {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#urb4 {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#fogo img {
    width: 800px;
    margin-right: -10px;
}

.city {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 5px;

}

#documental{
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.fotod{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.d1{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.d2{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.d3{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#chapeu img{
    width: 550px;
    height: auto;
}
.d4{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: -58px; */
}
.d4 img{
    width: 630px;
    height: 100%;
}
#floresta img{
    height: 500px;
}                  